@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Silvio Stappung" />
    <title>ITEC Testat Webseite von Silvio Stappung</title>
    <link href="/_Styles/Global.css" rel="stylesheet" />
    <link href="/_Styles/Main.css" rel="stylesheet" />
    <script src="/_Scripts/jquery-2.1.1.js"></script>
    @RenderSection("ScriptHead", false)
</head>
<body>

    <header>
        ITEC Testat Webseite
    </header>

    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Startseite</a></li>
            <li><a href="@Url.Action("Formular", "Home")">Formularverarbeitung</a></li>
            <li><a href="@Url.Action("Canvas", "Home")">Canvas Element</a></li>
            <li><a href="@Url.Action("Ajax", "Home")">Ajax Element</a></li>
        </ul>
    </nav>

    <section id="bodySection">
        <h1>@ViewBag.Title</h1>
        <hr />

        @RenderBody()

    </section>

    <footer>
        <span id="leftFoot">
            Created by Silvio Stappung
        </span>
        <span id="rightFoot">
            Developed with a Screen Resolution of 1280 x 800 and Firefox 32
        </span>
    </footer>

</body>
</html>
